.modal-signUp,
.modal-signIn {
  &__content {
    background-color: $bgwhite;
    @media (min-width: $sm) {
      min-width: 0;
    }
    @media (min-width: $md) {
      min-width: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    @media (min-width: $xs) {
      align-items: center;
    }
  }
}

.form {
  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
  }

  &__label-text {
    margin-bottom: 6px;
    font-size: rem(12);
  }

  &__input {
    width: 100%;
    margin-bottom: 5px;
    @media (min-width: $xs) {
      width: 300px;
    }
    &._invalid {
      border-color: rgb(179, 29, 29);
    }
    &._valid {
      border-color: rgb(0, 150, 20);
    }
  }

  &__btn {
    @extend %reset-btn;
    height: 36px;
    width: 100%;
    margin: 1.5rem 0;
    @media (min-width: $xs) {
      width: 300px;
    }
  }

  &__error {
    bottom: 5px;
    left: 0;
    font-size: rem(12);
    color: rgb(179, 29, 29);
  }

  &__show-password {
    @extend %reset-btn;
    display: none;
    position: absolute;
    top: 22px;
    right: 2px;
    width: 40px;
    height: 34px;
    background: $white url('./../images/eye.svg') center / 20px no-repeat;
    &::after {
      @extend %absolute;
      top: 16px;
      left: 8px;
      width: 24px;
      height: 1.2px;
      background-color: $dark;
      transform: rotate(45deg);
      transition: 0.3s;
    }
    &._show::after {
      opacity: 0;
    }
  }
}
