.about {
    @extend %padding-bottom;
    &__wrapper {
        
        display: flex;
        justify-content: space-between; 
        @media(max-width: $tablet-wide) {
            flex-wrap: wrap;
        }
        @media(max-width: $xl-phone) {
            
        }
    }

    &__content {
        max-width: 56.8rem;
        padding-left: 2.1rem;
        background: url(../image/abbh.jpg) bottom / 100% no-repeat;
        @media(max-width: $tablet-wide) {
            background: transparent;
            margin-top: 35px;
        }
        @media(max-width: $xl-phone) {
            
        }
    }
    &__top-img {
        display: none;
        @media(max-width: $tablet-wide) {
            display: block;
            min-height: 56.7rem;
            width: 100%;
            background-image: url(../image/abbh.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
    }

    &__bottom-img {
        height: 61rem;
        width: 51.3rem;
        background-image: url(../image/abbgv.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        @media(max-width: $tablet-wide) {
            margin-top: 35px;
        }
        @media(max-width: $xl-phone) {
            width: 100%;
            height: 97.5rem;
        }
        
    }

    &__title {
        margin-bottom: 16px;
    }

    &__text {
        font-size: 16px;
        line-height: 28px;
        color: $brown;
        
    }

}



