.footer {
    
    &__container {
        border-top: 1px solid $alto;
    }

    &__wrapper {
       padding: 6rem 9.7rem 7rem 9.7rem; 
       display: flex;
       justify-content: space-between;
        @media(max-width: $laptop) {
            padding: 6rem 0 7rem 0;
        }
        @media(max-width: $tablet) {
            flex-wrap: wrap;
        } 
               
       
    }

    &__column {
        max-width: 28rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media(max-width: $tablet) {
            flex: 1 0 50%;
            max-width: 100%;
            order: 2;
        }
        @media(max-width: $xl-phone) {
            flex: 1 0 100%;
            order: 1;
            margin-bottom: 30px;
        }  
    }

    &__form {
        max-width: 234px;
        @media(max-width: $tablet) {
            flex: 1 0 50%;
            order: 1;
            align-items: flex-end;
        } 
        @media(max-width: $xl-phone) {
            flex: 1 0 100%;
            align-items: flex-start;
            max-width: 100%;
        }  
        
    }

    &__title {
        font-family: $work-med-font;
        font-size: 16px;
        line-height: 19px;
        color: $mineShaft;
        margin-bottom: 20px;
    }

    &__link {
        display: inline-block;
        font-family: $work-reg-font;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
        position: relative;
        &::after {
            @extend %absolute;
            width: 100%;
            height: 1px;
            background-color: $black;
            top: 110%;
            opacity: 0;
            transition: opacity 0.2s linear;
        }
        &:hover::after {
            opacity: 1;
        }
    }

    &__input {
        display: block;
        width: 234px; 
        border: 1px solid $athensGray;
        font-family: $work-reg-font;
        margin-bottom: 15px;
        transition: border-color 0.2s linear;
        &:hover {
            border-color: $alto;
        }
        &:focus {
            border-color: $genoa;
            outline: none;
        }
        @media(max-width: $xl-phone) {
            width: 300px;
        }
        @media(max-width: $phone) {
            width: 100%;
        }
    }

    &__btn {
        width: 110px;
        height: 36px;
        border: 0;
        background-color: $genoa;
        color: $white;
        font-family: $work-reg-font;
        font-size: 12px;
        cursor: pointer;
        transition: background-color 0.2s linear; 
        &:hover {
            background-color: $ghover;
        }
        &:active {
            background-color: darken($color: $genoa, $amount: 5);
        }
    }
}

.address {

    font-style: normal;
    @media(max-width: $tablet-wide) {
        max-width: 300px;
        flex: 0 0 30%;
    }
    @media(max-width: $tablet) {
        order: 1;
        margin-bottom: 30px;
    } 
    @media(max-width: $xl-phone) {
        flex: 1 0 100%;
    }  
    &__logo {
        display: inline-block;
        margin-bottom: 2.4rem;
    }

    &__title {
        margin-bottom: 10px;
    }

    &__info {
        font-family: $work-reg-font;
        font-size: 13px;
        line-height: 20px;
        color: $mineShaft;
        max-width: 28rem;
        @media(max-width: $tablet) {
            max-width: 300px;
        } 
    }
}
