html {
    font-size: 10px;
    @media (max-width: $container + px) {
        font-size: calc(5.9px + 4.1 * (100vw - 756px) / (1280 - 756));
    }
    @media (max-width: $xl-phone) {
        font-size: calc(5.9px + 4.1 * (100vw - 280px) / (756 - 280));
    }
}


html,
body {
    height: 100%;
}
body {
    min-width: $minWidth + px;
    overflow-x: hidden;
    position: relative;
    overflow: auto;
    font-family: $mont-reg-font;
    &._lock {
        overflow: hidden;
    }
}
.content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.main {
    flex: 1 1 auto;
}
.container {
    max-width: $container + px;
    margin: 0 auto;
    padding: 0 5.6rem;
    @media (max-width: $tablet-wide) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (max-width: $phone) {
        padding-left: 10px;
        padding-right: 10px;
    }
}


._link-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 36px;
    font-size: 14px;
    font-family: $nunito-font;
    transition: opacity 0.2s linear;
}

._h2-title {
    font-family: $mont-bold-font;
    font-size: 4rem;
    line-height: 5.6rem;
    color: $brown;
    @media(max-width: $xl-phone) {
        font-size: 3rem;
        line-height: 4.5rem;
    }   
}

._input {
    font-size: 14px;
    line-height: 22px;
    padding: 8px 13px;
    border-radius: 2px;
    height: 38px;
    &::-webkit-input-placeholder       {opacity: 1;}
    &::-moz-placeholder                {opacity: 1;}
    &:-moz-placeholder                 {opacity: 1;}
    &:-ms-input-placeholder            {opacity: 1;}
    &:focus::-webkit-input-placeholder {opacity: 0;}
    &:focus::-moz-placeholder          {opacity: 0;}
    &:focus:-moz-placeholder           {opacity: 0;}
    &:focus:-ms-input-placeholder      {opacity: 0;}
}

._add-to-cart._hold {
    opacity: 0.5;
    pointer-events: none;
}

picture img {
    display: block;
}
