.header {

    &__wrapper {
        background-color: transparent;
        position: absolute;
        width: 100%;
        height: 100px;
        top: 0;
        left: 0;
        z-index: 20;
        @media (max-width: $tablet) {
            background-color: $white;
            height: 78px;
            border-bottom: 0.5px solid $alto;
        }
        &._scrolling {
            position: fixed;
            background-color: $white;
            box-shadow: 1px 1px 4px rgba($black, 0.2);
            height: auto;
            & .header__inner {
                padding: 20px 0;
                @media(max-width: $xl-phone) {
                    padding: 0;
                }
            }
        }
    }

    &__container {
        @media(max-width: $xl-phone) {
            padding: 0;
        }
        @media(max-width: $phone) {
            padding: 0;
        }
    }
    &__inner {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        @media (max-width: $tablet-wide) {
           padding: 30px 0; 
        }
        @media (max-width: $tablet) {
            padding: 20px 0;
        }
        @media (max-width: $xl-phone) {
            padding: 0;
        }
    }

    &__sign {
        display: none;
        @media (max-width: $xl-phone) {
            background-color: $white;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 0px;
            border-radius: 0;
            width: 25%;
            height: 78px;
            padding: 0;
            &:hover {
                background: url(../image/hexagon.svg) center / 36px no-repeat;
                & .header__sign-icon {
                    transform: scale(0.7);
                }
                & .header__sign-icon path {
                    stroke: $white;
                }
            }
        }
        &._active ~ ._link-btn {
            opacity: 1;
            visibility: visible;
        }
    }

    &__search-btn {
        background-color: $white;
        padding: 0;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 0px;
        margin-left: auto;
        border-radius: 0;
        width: 40px;
        height: 40px;
        position: relative;
        &:hover {
            background: url(../image/hexagon.svg) center / 36px no-repeat;
        }
        &:hover .search__path {
            stroke: $white;
        }
        &:hover .header__search-img {
            transform: scale(0.7);
        }
        @media (max-width: $xl-phone) {
            margin: 0;
            width: 25%;
            height: 78px;
            border-right: 1px solid $alto;
        }
    }

    &__search-img {
        z-index: 2;
        transition: transform 0.3s linear;
    }

    &__cart {
        margin-left: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        position: relative;
        background-color: $white;
        &:hover {
            background: url(../image/hexagon.svg) center / 36px no-repeat;
        }
        &:hover .cart__path {
            stroke: $white;
        }
        &:hover .cart__icon {
            transform: scale(0.7);
        }
        @media(max-width: $xl-phone) {
            width: 25%;
            height: 78px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            border-right: 1px solid $alto;
            &::before, &::after {
                display: none; 
            }
        }
        
    }
}

.logo {

    &__path {
       transition: fill 0.2s linear; 
    }

    &:hover .logo__path {
        fill: $ghover;
    }
    @media(max-width: $xl-phone) {
        width: 25%;
        height: 78px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid $alto;
        background-color: $white;
    }

}

.cart {

    &__icon {
        z-index: 2;
        transition: transform 0.3s linear;
    }

    &__label {
        @extend %absolute;
        top: -5px;
        right: -5px;
        width: 20px;
        height: 20px;
        background-color: rgb(202, 66, 25);
        border-radius: 50%;
        color: $white;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
        z-index: 200;
        @media(max-width: $xl-phone) {
            top: 20%;
            right: 25%;
        }
    }
    
}

.sign-in {
    color: $genoa;
    margin-left: 5px;
    position: relative;
    transition: color 0.2s linear;
    &::before {
        @extend %absolute;
        width: 65px;
        height: 2px;
        bottom: 3px;
        background-color: $ghover;
        transform: scaleY(0);
        transition: transform 0.2s linear;
    }
    
    @media (max-width: $xl-phone) {
        position: absolute;
        top: 78px;
        right: 0;
        background-color: $white;
        border-top: 1px solid $genoa;
        border-left: 1px solid $genoa;
        opacity: 0;
        visibility: hidden;
        width: 25%;
        height: 50px;
    }
}
.sign-up {
    color: $white;
    background-color: $genoa;
    transition: background-color 0.2s linear; 
    @media (max-width: $xl-phone) {
        position: absolute;
        top: 125px;
        right: 0;
        color: $genoa;
        background-color: $white;
        border-bottom: 1px solid $genoa;
        border-left: 1px solid $genoa;
        border-top: 1px solid $alto;
        opacity: 0;
        visibility: hidden;
        width: 25%;
        height: 50px;
    }
}

//=========================== hovers ========================

._pc {
    & .sign-up:hover {
        background-color: $ghover;
    }

    & .sign-in {

        &:hover {
            color: $ghover;
        }
        
        &:hover::before {
            transform: scaleY(1);
        }

    }

    & .search._active .search__btn:hover {
        background-color: $ghover;
        background-image: none;
        border-radius: 50%;
    }
}
