.modal-search {

    &__content {
        background-color: $bgwhite;
    }

}

.modal-search {

    &__body {
    }

    &__list {
    }

    &__item {
        background-color: $white;
        padding: 20px 20px 40px 20px;
        margin-bottom: 10px;
    }

    &__link {
    }

    &__title {
        font-size: 17px;
        font-family: $mont-bold-font;
        color: rgb(0, 0, 141);
        margin-bottom: 15px;
        &:hover {
            text-decoration: underline;
        }
    }

    &__text {
        font-size: 14px;
    }
}

.search {

    &__form {
        display: flex;
        max-width: 600px;
        margin: 0 auto;
        @media(max-width: $xl-phone) {
            flex-wrap: wrap;
        }
    }

    &__input {
        flex: 0 1 80%;
        text-align: center;
        margin-bottom: 30px;
        @media(max-width: $xl-phone) {
            flex: 0 0 100%;
        }
    }
    &__btn {
        flex: 0 0 20%;
        height: 38px;
        border: 0;
        background-color: $genoa;
        color: $white;
        cursor: pointer;
        border-radius: 0;
        margin-left: 10px;
        transition: background-color 0.2s linear;
        &:hover {
            background-color: $ghover;
        }
        @media(max-width: $xl-phone) {
            flex: 0 0 100%;
            margin: 0;
        }
    }
}

