.modal-signIn__content, .modal-signUp__content {
    width: auto;
    @media(max-width: $xl-phone) {
        width: 100%;
    }
}

.form {

    display: flex;
    flex-direction: column;

    &__label {
        display: flex;
        flex-direction: column;
    }

    &__label-text {
        margin-bottom: 10px;
        font-size: 14px;
    }

    &__input {
        width: 280px;
        margin-bottom: 20px;
        @media(max-width: $xl-phone) {
            width: 100%;
        }
    }

    &__btn {
        width: 280px;
        height: 38px;
        border: 0;
        background-color: $genoa;
        color: $white;
        font-size: 14px;
        font-family: $nunito-font;
        margin: 10px 0;
        cursor: pointer;
        transition: background-color 0.2s linear;
        &:hover {
            background-color: $ghover;
        }
        @media(max-width: $xl-phone) {
            width: 100%;
        }
    }
}

