%reset-title {
  margin: 0;
  font: inherit;
}
%reset-p {
  margin: 0;
}
%reset-btn {
  padding: 0;
  border: 0;
  cursor: pointer;
  font: inherit;
  border-radius: 0;
  text-align: start;
  background-color: transparent;
}
%reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
%absolute {
  position: absolute;
  display: block;
  content: "";
}