//=================================================================
//=============== COLORS ==========================================

$white: #fff;
$alto: #E0E0E0;
$athens: #F3F4F6;
$bgwhite: #F3F3F2;
$genoa: #156963;
$ghover: #22a097;
$gdark: #063f3b;
$black: #000;
$brown: #2C1500;
$dark: #333333;


//=================================================================
//=============== BREAKPOINTS =====================================

$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 1000px;
$xl: 1200px;
$xxl: 1400px;

//=================================================================
//===================== SIZES =====================================

$minWidth: 340;
$maxWidth: 1920;
$container: 1280;

//=================================================================
//===================== FONTS =====================================

$font-mont: "Montserrat", sans-serif;
$font-work: "WorkSans", sans-serif;
$font-nunito: "Nunito", sans-serif;

//=================================================================
//====================== OFFSETS ==================================

$off-section: 6.25%;
$off: 10px;

//================================================================
//===================== Z-INDEX ===================================

$zindex-1: 1;
